{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% include 'includes/head.html' %}
    
        <title>Yangofilm - Inscription</title>
    
    </head>
<body id="register" style="background-image: url('{% static 'image/background.jpg' %}');">

    <div style="z-index: 9;">
        <h1 class="text-center mb-3 text-danger">Inscription</h1>

        {% if messages %}
        {% for message in messages %}
        <p class="w-auto bg-success">{{message}}</p>
        {% endfor %}
        {% endif %}
        <form action="" method="post" class="form rounded" role="form" style="max-width: 30rem;">
            {% csrf_token %}
            {{form|crispy}}
            <!-- <div class="form-group">
                <label for="id_last_name">Prénom</label>
                {{form.first_name}}
            </div>
            <div class="form-group">
                <label for="id_first_name">Nom</label>
                {{form.first_name}}
            </div>
            <div class="form-group">
                <label for="id_email">Email</label>
                {{form.email}}
            </div>
            <div class="form-group">
                <label for="id_phone">Téléphone</label>
                {{form.phone}}
            </div>
            <div class="form-group">
                <label for="id_password1">Mot de passe</label>
                {{form.password1}}
            </div>
            <div class="form-group">
                <label for="id_password2">Confirmation</label>
                {{form.password2}}
            </div> -->
            <button type="submit" class="btn btn-danger mb-3">S'inscrire</button> <br>
            <p class="text-center">ou</p>
            <a href="{% url 'login' %}" class="btn btn-primary mb-3">Se connecter</a> <br>
            <small><a href="{% url 'home' %}">Retour à la page d'accueil</a></small>
        </form>

    </div>
  
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/yango.js' %}"></script>

</body>
</html>